{% extends 'base.html.twig' %}

{% block title %}Contact - Hôtel House{% endblock %}

{% block body %}

    <h1 class="text-center my-4">Contactez-nous</h1>
	
  {% include "include/_flashes.html.twig" %}

    <div class="row">
    <div class="col-8 mx-auto">

  {{ form_start(form) }}

    <div class="row">
    <div class="col-5">{{ form_row(form.nom) }}</div>
    <div class="col-5">{{ form_row(form.prenom) }}</div>
    </div>

    <div class="row">
    <div class="col-10">{{ form_row(form.email) }}</div>
    </div>

    <div class="row">
    <div class="col-6">{{ form_row(form.sujet) }}</div>
    <div class="col-4">{{ form_row(form.categorie) }}</div>
    </div>

    <div class="row">
    <div class="col-10 text-center">{{ form_row(form.message) }}</div>
    </div

    {{ form_row(form.submit) }}
    
    {{ form_end(form) }}

  </div>
    </div>

{% endblock %}