{% extends 'base.html.twig' %}

{% block title %}Inscription | HouseHotel
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-10 mx-auto my-4">

			<h2 class="text-center">Les administrateurs</h2>

			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Rôle</th>
						<th>Mot de passe</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Civilité</th>
						<th>Création</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for membre in membres %}
						<tr>
							<td>{{ membre.id }}</td>
							<td>{{ membre.roles | first }}</td>
							<td>{{ membre.password }}</td>
							<td>{{ membre.prenom }}</td>
							<td>{{ membre.nom }}</td>
							<td>{{ membre.email }}</td>
							<td>{{ membre.civilite }}</td>
							<td>{{ membre.createdAt | date('d/m/Y') }}</td>
							<td>{{ membre.updatedAt | date('d/m/Y') }}</td>
							<td>
								<a href="{{ path('soft_delete_membre', {'id': membre.id}) }}" class="btn btn-danger" title="Supprimer le membre" onclick="return confirm('Cette action supprimera le membre de la base Voulez-vous continuer ?' )">
									<i class="bi bi-trash3"></i>
								</a>
								<a href="{{ path('update_membre', {'id': membre.id}) }}" class="btn btn-warning" title="Modifier le membre" onclick="return confirm('Cette action modifiera le membre de la base Voulez-vous continuer ?' )">
									<i class="bi bi-pencil-square"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7" class="bg-warning text-center">Aucun article dans la poubelle</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>

	<h1 class="text-center my-4">
		Créer un compte</h1>

	<div class="row">
		<div class="col-8 mx-auto">

			{{form_start(form)}}

			<div
				class="row">
				{# <div class="col-6">{{form_row(form.roles)}}</div> #}
				<div class="col-6">{{form_row(form.prenom)}}</div>
				<div class="col-6">{{form_row(form.nom)}}</div>
			</div>

			<div class="row">
				{{form_row(form.civilite)}}
			</div>
            
			<div class="row">
				<div class="col-6">{{form_row(form.email)}}</div>
				<div class="col-6">{{form_row(form.password)}}</div>
			</div>

			{{form_end(form)}}
		</div>
	</div>

{% endblock %}
