{% extends "base.html.twig" %}

{% block title %}Réservation | Hôtel House
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-6 mx-auto">
			{% include 'include/_flashes.html.twig' %}
		</div>
	</div>

	<div class="row featurette text-center">
		<div class="col-md-7">
			<h2 class="featurette-heading fw-normal lh-1">{{ chambre.titre }}</h2>
			<p class="lead">{{ chambre.descriptionLongue }}</p>
		</div>
		<div class="col-md-5 mt-4">
			<img width="300" height="300" class="img-fluid" src="{{ asset('uploads/' ~ chambre.photo) }}" alt="{{ chambre.titre }}">


		</div>
	</div>

</div>

	{{ form(form) }}
{% endblock %}
